@model ogrenciNotMvc.Models.EntityFramework.TableNotlar
@{
    ViewBag.Title = "NotGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notlar Güncelleme Sayfası</h2>

@using (Html.BeginForm("Guncelle", "Not", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ogrID)
        @Html.TextBoxFor(m => m.ogrID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sinav1)
        @Html.TextBoxFor(m => m.Sinav1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sinav2)
        @Html.TextBoxFor(m => m.Sinav2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sinav3)
        @Html.TextBoxFor(m => m.Sinav3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Proje)
        @Html.TextBoxFor(m => m.Proje, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Durum)
        @Html.TextBoxFor(m => m.Durum, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.notID)

    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>


}